*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.menu-bar{
	background: rgba(0,100,0);
	text-align: center;
	border-radius: 1%;
	height: 80px;
	flex-direction: column;
	  align-items: center;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: aliceblue;
}
.menu-bar ul li{
	width: 150px;
	padding: 5px;
	margin: 15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: aliceblue;
}
.menu-bar ul li:hover{
	background: blueviolet;
	border-radius: 1px;
}
.menu-bar .fa-solid{
	margin-right: 10px;
}
/* display secondary menu */
.submenu-1{
	display: none;
	font-size: smaller;
}
/* display when hover */
.menu-bar ul li:hover .submenu-1{
	display: block;
	position: absolute;
	background: rgb(0, 100, 0);
	margin-top: 15px;
	margin-left: -15px;
}
/* display vertically when hover */
.menu-bar ul li:hover .submenu-1 ul{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .submenu-1 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted antiquewhite;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .submenu-1 ul li:last-child{
	border-bottom: none;
}
.menu-bar ul li:hover .submenu-1 ul li a:hover{
	color: aqua;
}
/* agriculture writting */
.agriculture{
	height: 60vh;
	margin-top: 20%;
	text-align: center;
	display: block;
	font-size: xx-large;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: 200;
	font-weight: bolder;
}
/* Features second Page */
.new-section{
	/* height: 50vh; */
	width: 100%;
	margin: 0px;
	background-color: rgb(127, 228, 69);
}
/* photo adjusting */
 

